@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 20% 97.6%;
    --foreground: 216 45% 6%;
    --card: 0 0% 100%;
    --card-foreground: 216 45% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 216 45% 6%;
    --primary: 174 50% 67%;
    --primary-foreground: 174 70% 22%;
    --secondary: 210 14% 93%;
    --secondary-foreground: 216 45% 6%;
    --muted: 210 14% 93%;
    --muted-foreground: 215 10% 40%;
    --accent: 174 50% 67%;
    --accent-foreground: 174 70% 22%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 16% 91%;
    --input: 210 16% 91%;
    --ring: 174 50% 67%;
    --chart-1: 174 50% 67%;
    --chart-2: 174 70% 22%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 174 50% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
